/* 꽃잎 회전 애니메이션 */
@keyframes flower-rotate {
  to {
    transform: rotateZ(1turn);
  }
}
/* 얼굴 갸우뚱 애니메이션 */
@keyframes face-roll {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
/* 하트발사 애니메이션 (미완성)*/
@keyframes heart-shoot-1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
@keyframes heart-shoot-2 {
  0% {
    transform: rotate(30deg) translate(0, 0);
  }
  100% {
    transform: rotate(30deg) translate(100px, -400px);
  }
}
@keyframes heart-shoot-3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
@keyframes heart-shoot-4 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
@keyframes heart-shoot-5 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
@keyframes heart-shoot-6 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
@keyframes heart-shoot-7 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
@keyframes heart-shoot-8 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
@keyframes heart-shoot-9 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
@keyframes heart-shoot-10 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
@keyframes heart-shoot-11 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
@keyframes heart-shoot-12 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-400px);
  }
}
